<h1>Login Form</h1>
<table>
<tr>

	<tr><td>Email</td><td><input type="text" name="email"></td></tr>
	<tr><td>Password</td><td><input type="text" name="email"></td></tr>
	<tr><td></td><td><input type="submit" value="login"></td></tr>
</tr>
</table>